* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
#board{
    padding: 100px;
    background-color: darkgreen;
    border: 15px solid burlywood;
    border-radius: 25px;
    margin: 10px;
}

  button {
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
  }
  #placeholder1,#placeholder2 {
    width: 125px;
    margin: 50px auto;
    min-height: 125px;
    border: 2px solid black;
    border-radius: 10px;  
    font-size:80px;
    background-color: whitesmoke;
  }